*.jpg
*.dll
*.pdb
*.lib
*.XML
*.zip

Debug/*
Release/*

*.sdf
*.suo
*.opensdf

ipch/*
_UpgradeReport_Files/*

PHashCSTest/bin/*
PHashCSTest/obj/*
PHashCS/bin/*
PHashCS/obj/*

pHashCpp/Debug/*
pHashCpp/Release/*
pHashCpp/*.vcxproj.user
pHashCpp/*.vcxproj.filters

pHashCppConsole/*.jpg
pHashCppConsole/*.vcxproj.user
pHashCppConsole/*.vcxproj.filters
pHashCppConsole/Debug/*
pHashCppConsole/Release/*

pHash-0.9.4/Debug/*
pHash-0.9.4/Release/*
pHash-0.9.4/*.lib
pHash-0.9.4/*.ncb
pHash-0.9.4/*.sln
pHash-0.9.4/*.vcxproj.user
pHash-0.9.4/*.vcxproj.filters

